adjusttext==0.8
fqdn==1.5.1
imblearn==0.0
isoduration==20.11.0
jsonpointer==2.4
notebook==7.0.3
openpyxl==3.1.2
pip-chill==1.0.3
plotly==5.18.0
psycopg2-binary==2.9.7
pyarrow==13.0.0
python-dotenv==1.0.0
seaborn==0.13.0
shapely==2.0.2
uri-template==1.3.0
webcolors==1.13
xgboost==2.0.0